<template>
<div class="page" data-name="about">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Назад</span>
        </a>
      </div>
      <div class="title">О форуме</div>
    </div>
  </div>
  <div class="page-content">
    <div class="card">
      <div class="card-content">
        <div class="list links-list">
          <ul>
            <li><a href="/venue/">Место проведения</a></li>
            <li><a href="/committee/">Орг. коммитет</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="block-title">Приветствие</div>
    <div class="block block-strong">
      <div class="card demo-facebook-card">
        <div class="card-header">
          <div class="demo-facebook-avatar">
            <img src="https://thumb.tildacdn.com/tild6337-6539-4961-a536-613332366334/-/cover/300x300/center/center//perioperativebleedin.jpg" width="34" height="34" class="">
          </div>
          <div class="demo-facebook-name">Ройтман Евгений Витальевич</div>
          <div class="demo-facebook-date">
            <a href="#" onclick="window.open('https://hemostas.ru', '_system'); return false;">hemostas.ru</a>
          </div>
        </div>
        <div class="card-content-padding">
          <p>Президент Национальной ассоциации специалистов по тромбозам, клинической гемостазиологии и гемореологии</p>
        </div>
      </div>
    </div>
    <div class="block">
      <p>Дорогие друзья, здравствуйте! </p>
      <p>И снова, снова я имею честь и удовольствие пригласить Вас встретиться! Прошло почти двадцать лет с момента первой всероссийской конференции по клинической гемостазиологии и гемореологии, и вот в следующем году состоится уже десятая, т.е. юбилейная. </p>
      <p>Столько лет прошло! Столько изменений за эти годы! Пришло новое поколение, появились новые школы, но и «старики» еще в строю. Как известно, «Всему свое время, и время всякой вещи под небом: … время разбрасывать камни, и время собирать камни…» (Екклезиаст). Но неизменным осталось одно: проблема тромбозов, кровотечений и патологии системы гемостаза своей актуальности не утратила. Поэтому разрешите мне пригласить Вас всех в гости! </p>
      <p>Давайте соберемся <strong>08-10 октября 2020 года</strong> в г. Москва на <strong>«Российский Форум по тромбозу и гемостазу совместно с 10-й (юбилейной) конференцией по клинической гемостазиологии и гемореологии».</strong></p>
      <p>Как обычно, эта площадка будет «политически нейтральной», местом встречи друзей-специалистов, каждый из которых ежедневно решает проблемы тромбозов, кровотечений и патологии системы гемостаза в своей профессиональной области. Обменяться опытом, поделиться проблемами, составить совместные планы на будущее приглашаются кардиологи, неврологи, онкологи, гематологи, анестезиологи-реаниматологи, хирурги, трансплантологи, акушеры-гинекологи, специалисты по лабораторной диагностике, организаторы здравоохранения, педиатры… простите, если кого-то не упомянул. Ждем всех, потому что Форум будет поддержан целым рядом государственных медицинских организаций и профессиональных сообществ. В программе Форума будут заседания, конференции, семинары, Школы, симпозиумы, Круглые столы с участием зарубежных коллег, а также Лекториум «Многоликий гемостаз», который оказался столь востребованным. В общем, место, время, внимание и дружеское тепло найдется всем! </p>
      <p>Итак, я действительно буду очень рад видеть Вас на Форуме! И надеюсь, до скорой встречи! </p>
      <div class="card">
        <div class="card-content card-content-padding">
          Искренне Ваш,<br>
          Ройтман Евгений Витальевич
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {};
</script>
