<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Назад</span>
          </a>
        </div>
        <div class="title">{{page[0].reserved}}</div>
      </div>
    </div>
    <div class="page-content">
      <div class="block">
        <div class="block-title">{{page[0].reserved}}</div>
        <div class="list accordion-list">
          <ul>
            {{#each page}}
            <li class="accordion-item">
              <a href="#" class="item-content item-link">
                <div class="item-inner">
                  <div class="item-title">{{this.title}}</div>
                </div>
              </a>
              <div class="accordion-item-content">
                <div class="block">
                  <p>{{this.content}}</p>
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default { }
</script>
