<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Назад</span>
          </a>
        </div>
        <div class="title">{{page[0].reserved}}</div>
      </div>
    </div>
    <div class="page-content">
      <div class="block-title">
        {{page[0].reserved}}
      </div>
      {{#each page}}
        <div class="card demo-card-header-pic">
          {{#js_if "this.img"}}
          <a href="/category/news/{{this.id}}/" data-background="{{this.img}}"
            class="lazy lazy-fade-in demo-lazy card-header align-items-flex-end">
            &nbsp;
          </a>
          {{/js_if}}
          {{#js_if "this.icon"}}
          <a href="/category/news/{{this.id}}/" data-background="{{this.icon}}"
            class="lazy lazy-fade-in demo-lazy card-header align-items-flex-end card-icon">
            &nbsp;
          </a>
          {{/js_if}}
          <div class="card-content card-content-padding">
            <p class="date">{{this.ts}}</p>
            <p>{{this.title}}</p>
          </div>
          <div class="card-footer">
            <!-- <a href="#" class="link">Like</a> -->
            <a href="/category/news/{{this.id}}/" class="link">Читать</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</template>
<style>
  .card-header.card-icon {
    background-size: contain;
    background-repeat: no-repeat;
  }
</style>
<script>
  export default {};
</script>
