<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Назад</span>
          </a>
        </div>
        <div class="title">{{page[0].reserved}}</div>
      </div>
    </div>
    <div class="page-content">
      <div class="block block-strong">
        {{#each page}}
        <div class="card card-outline">
          <div class="card-header">
            <div>
              <i class="icon material-icons f7-icon-14">turned_in_not</i>
              {{this.title}}
            </div>
          </div>
          {{#js_if "this.content"}}
          <div class="card-content card-content-padding">
            {{this.content}}
          </div>
          {{/js_if}}
          {{#js_if "this.footer"}}
            <div class="card-footer">{{this.footer}}</div>
          {{/js_if}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
<script>
  export default { }
</script>
