<template>
<div class="page" data-name="committee">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Назад</span>
        </a>
      </div>
      <div class="title">Организационный комитет</div>
    </div>
  </div>
  <div class="page-content">
    <div class="card">
      <div class="card-header">Председатель российского форума по тромбозу и гемостазу</div>
      <div class="card-content">
        <div class="list media-list">
          <ul>
              <li>
                <a href="/request-and-load/user/{{lead.id}}/" class="link item-content">
                  <span class="item-media">
                    <img data-src="{{lead.photo}}" width="44" height="44" class="lazy lazy-fade-in"/>
                  </span>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">{{lead.name}}</div>
                    </div>
                    <div class="item-subtitle">{{lead.position}}</div>
                  </div>
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="card">
      <div class="card-header">Организационный комитет</div>
      <div class="card-content">
        <div class="list media-list">
          <ul>
            {{#each persons}}
              {{#js_if "this.id > 1"}}
                <li>
                  <a href="/request-and-load/user/{{this.id}}/" class="link item-content">
                    <span class="item-media">
                      <img data-src="{{this.photo}}" width="44" height="44" class="lazy lazy-fade-in"/>
                    </span>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">{{this.name}}</div>
                      </div>
                      <div class="item-subtitle">{{this.position}}</div>
                    </div>
                    </a>
                  </li>
              {{/js_if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default { };
</script>
