<template>
  <div class="page" data-name="home">
    <!-- Top Navbar -->
    <div class="navbar navbar-large">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a href="#" class="link icon-only panel-open" data-panel="left">
            <i class="icon f7-icons if-not-md">menu</i>
            <i class="icon material-icons if-md">menu</i>
          </a>
        </div>
        <div class="title sliding">РФТГ 2020</div>
        <div class="title-large">
          <div class="title-large-text">РФТГ 2020</div>
        </div>
      </div>
    </div>
    <!-- Scrollable page content-->
    <div class="page-content">
      <div class="content-block">

        {{#js_if "this.news"}}
          {{#each news}}
            <a class="card demo-facebook-card"
                style="display:block;"
                href="/category/news/{{this.id}}/">
              <div class="card-header">
                <div class="demo-facebook-avatar">
                  <img src="{{this.img}}" width="34" height="34" class="">
                </div>
                <div class="demo-facebook-name">{{this.title}}</div>
                <div class="demo-facebook-date">
                  Новости
                </div>
              </div>
            </a>
          {{/each}}
        {{/js_if}}

        <div class="card">
          <div class="card-header">
            <img width="100%" src="{{home.icon}}" alt="">
          </div>
          <div class="card-content card-content-padding text-align-center">
            <h3>{{home.title}}</h3>
            {{home.content}}
          </div>
          <div class="card-footer">
            <p>{{home.footer}}</p>
            <p>{{home.action}}</p>
          </div>
        </div>
        {{#js_if "this.home.after"}}
        <div class="block">
          {{home.after}}
        </div>
        {{/js_if}}

        <div class="block-title">Меню</div>
        <div class="card">
          <div class="card-content">
            <div class="list links-list">
              <ul>
                <!-- <li><a href="/about/">Тест</a></li> -->
                <li>
                  <a class="item-content" href="/page/1/">
                    <div class="item-media"><i class="f7-icons">question_circle</i></div>
                    <div class="item-inner">
                      <div class="item-title">О форуме</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="item-content" href="/committee/">
                    <div class="item-media"><i class="f7-icons">person_3</i></div>
                    <div class="item-inner">
                      <div class="item-title">Орг. коммитет</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="item-content" href="/schedule/">
                    <div class="item-media"><i class="f7-icons">calendar</i></div>
                    <div class="item-inner">
                      <div class="item-title">Программа</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="item-content" href="/myschedule/">
                    <div class="item-media"><i class="f7-icons">calendar</i></div>
                    <div class="item-inner">
                      <div class="item-title">Моя Программа</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="item-content" href="/accordion/2/">
                    <div class="item-media"><i class="f7-icons">info_circle</i></div>
                    <div class="item-inner">
                      <div class="item-title">Участникам</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="item-content" href="/page/4/">
                    <div class="item-media"><i class="f7-icons">money_dollar_circle</i></div>
                    <div class="item-inner">
                      <div class="item-title">Спонсоры и выставка</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="item-content" href="/category/3/">
                    <div class="item-media"><i class="f7-icons">textbox</i></div>
                    <div class="item-inner">
                      <div class="item-title">Новости</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="item-content" href="/category/4/">
                    <div class="item-media"><i class="f7-icons">tv</i></div>
                    <div class="item-inner">
                      <div class="item-title">Информационные партнеры</div>
                    </div>
                  </a>
                </li>
                {{#js_if "this.home.reserved"}}
                  {{home.reserved}}
                {{/js_if}}
                <li>
                  <a class="item-content" href="/page/5/">
                    <div class="item-media"><i class="f7-icons">square_grid_2x2</i></div>
                    <div class="item-inner">
                      <div class="item-title">Еще</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="block-title">Подписка на новости</div>
        <div class="block">
          <p>Подпишитесь на email рассылку мероприятия, чтобы оставаться в курсе</p>
        </div>
        <form class="list form-ajax-submit" id="my-form">
        <ul>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">Имя</div>
                <div class="item-input-wrap">
                  <input type="text" name="name" placeholder="Ваше имя">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner">
                <div class="item-title item-label">E-mail</div>
                <div class="item-input-wrap">
                  <input type="email" name="email" placeholder="E-mail" required>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content item-input">
              <div class="item-inner row">
                <div class="col">
                  <button type="submit" class="button button-fill button-large color-blue convert-form-to-data" href="#">Подписаться</button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </form>
      <div class="block-title">Социальные сети</div>
        <!-- Additional "tabbar-labels" class -->
        <div class="toolbar tabbar tabbar-labels toolbar-bottom tabbar-links tabbar-social">
          <div class="toolbar-inner">
            <a onclick="window.open('https://www.facebook.com/hemostas.ru/', '_system'); return false;"
              href="#" class="tab-link tab-link-active">
              <svg xmlns="http://www.w3.org/2000/svg" fill="#273582" width="512" height="512" viewBox="0 0 64 64" enable-background="new 0 0 64 64"><path d="M57.378.001h-54.026c-1.85 0-3.352 1.499-3.352 3.352v54.026c0 1.853 1.502 3.354 3.352 3.354h29.086v-23.519h-7.914v-9.167h7.914v-6.76c0-7.843 4.789-12.116 11.787-12.116 3.355 0 6.232.251 7.071.36v8.198l-4.854.002c-3.805 0-4.539 1.809-4.539 4.462v5.851h9.078l-1.187 9.166h-7.892v23.52h15.475c1.852 0 3.355-1.503 3.355-3.351v-54.028c-.001-1.851-1.502-3.35-3.354-3.35z"/></svg>
            </a>
            <a onclick="window.open('https://www.youtube.com/channel/UCgr3E_9wM1VISjqffXvzW4w', '_system'); return false;"
              href="#" class="tab-link tab-link-active">
              <svg fill="#273582" xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 438.536 438.536" enable-background="new 0 0 438.536 438.536"><path d="M414.41 24.123c-16.077-16.081-35.447-24.123-58.095-24.123h-274.087c-22.648 0-42.018 8.042-58.102 24.123-16.081 16.084-24.123 35.453-24.123 58.102v274.084c0 22.647 8.042 42.018 24.123 58.102 16.084 16.084 35.454 24.126 58.102 24.126h274.084c22.648 0 42.018-8.042 58.095-24.126 16.084-16.084 24.126-35.454 24.126-58.102v-274.084c-.001-22.649-8.043-42.021-24.123-58.102zm-155.452 39.255h19.13v77.654c0 4.57.089 7.045.28 7.426.192 3.046 1.719 4.567 4.572 4.567 3.806 0 7.807-2.948 11.991-8.848v-80.799h19.13v105.637h-19.137v-11.425c-7.803 8.563-15.129 12.85-21.98 12.85-6.088 0-10.181-2.568-12.278-7.708-1.144-3.424-1.708-8.66-1.708-15.704v-83.65zm-72.233 34.262c0-11.038 1.999-19.32 5.996-24.838 5.138-7.232 12.559-10.85 22.266-10.85 9.329 0 16.754 3.621 22.268 10.85 4 5.519 5.999 13.8 5.999 24.838v37.117c0 11.421-1.999 19.701-5.999 24.839-5.514 7.236-12.939 10.852-22.268 10.852-9.707 0-17.128-3.619-22.266-10.852-3.997-5.52-5.996-13.8-5.996-24.839v-37.117zm-51.394-70.521l15.133 55.677 14.56-55.677h21.414l-25.697 84.51h.004v57.386h-21.127v-57.386c-2.096-10.468-6.473-25.505-13.134-45.108-4.377-13.134-6.567-19.701-6.567-19.701l-6.855-19.701h22.269zm235.262 344.61c-1.903 8.18-5.948 15.126-12.139 20.842-6.181 5.708-13.363 9.041-21.55 9.996-26.073 2.851-65.288 4.28-117.628 4.28-52.344 0-91.553-1.43-117.628-4.28-8.183-.955-15.367-4.288-21.555-9.996-6.186-5.716-10.229-12.662-12.133-20.842-3.805-15.991-5.708-40.737-5.708-74.233 0-32.935 1.903-57.67 5.708-74.233 1.905-8.375 5.948-15.371 12.133-20.988 6.188-5.617 13.466-8.901 21.842-9.851 25.882-2.859 64.997-4.284 117.341-4.284 52.535 0 91.746 1.429 117.628 4.284 8.187.953 15.41 4.233 21.693 9.851 6.283 5.614 10.38 12.609 12.282 20.988 3.61 15.797 5.421 40.539 5.421 74.233.001 33.495-1.903 58.237-5.707 74.233zM85.651 244.678h22.27v120.767h21.127v-120.767h22.841v-19.986h-66.238zM190.149 340.607c-4.187 5.896-8.186 8.847-11.991 8.847-2.665 0-4.093-1.427-4.283-4.281-.191-.38-.287-2.854-.287-7.426v-77.088h-18.843v82.796c0 7.234.572 12.374 1.715 15.413 1.712 5.332 5.711 7.994 11.991 7.994 7.042 0 14.275-4.281 21.698-12.847v11.424h19.126v-104.773h-19.126v79.941zM264.099 259.235c-6.852 0-13.326 3.806-19.411 11.423v-45.966h-19.13v140.753h19.13v-10.279c6.276 7.802 12.755 11.703 19.411 11.703 7.806 0 12.847-3.997 15.126-11.991 1.334-3.997 1.998-10.944 1.998-20.841v-41.682c0-10.089-.671-17.132-1.998-21.129-2.28-7.994-7.321-11.991-15.126-11.991zm-1.715 76.233c0 9.325-2.758 13.982-8.281 13.989-3.23 0-6.376-1.525-9.422-4.571v-63.954c3.046-3.038 6.191-4.564 9.422-4.564 5.523 0 8.281 4.753 8.281 14.271v44.829zM333.466 335.324c0 1.998-.049 3.565-.137 4.709-.093 1.143-.145 1.81-.145 1.998-1.14 4.945-3.997 7.419-8.565 7.419-6.472 0-9.709-4.853-9.709-14.558v-18.555h37.973v-21.703c0-11.037-1.995-19.219-5.995-24.551-5.134-7.231-12.56-10.852-22.269-10.852s-17.319 3.62-22.843 10.852c-3.806 5.14-5.708 13.329-5.708 24.551v36.832c0 11.231 1.998 19.418 5.995 24.558 5.523 7.231 13.23 10.852 23.131 10.852 10.088 0 17.699-3.806 22.843-11.423 2.282-3.429 3.716-7.234 4.284-11.42.377-2.666.568-6.759.568-12.278v-2.5700000000000003h-19.417v6.14h-.006zm-18.549-44.399c0-9.705 3.142-14.558 9.422-14.558 6.283 0 9.421 4.853 9.421 14.558v9.712h-18.843v-9.712zM214.987 153.025c6.091 0 9.135-4.851 9.135-14.558v-44.54c0-9.895-3.044-14.847-9.135-14.847-6.09 0-9.135 4.952-9.135 14.847v44.54c0 9.704 3.045 14.558 9.135 14.558z"/></svg>
            </a>
            <a onclick="window.open('https://vk.com/hemostas', '_system'); return false;"
              href="#" class="tab-link tab-link-active">
              <svg fill="#273582" enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="M19.915 13.028c-.388-.49-.277-.708 0-1.146.005-.005 3.208-4.431 3.538-5.932l.002-.001c.164-.547 0-.949-.793-.949h-2.624c-.668 0-.976.345-1.141.731 0 0-1.336 3.198-3.226 5.271-.61.599-.892.791-1.225.791-.164 0-.419-.192-.419-.739v-5.105c0-.656-.187-.949-.74-.949h-4.126c-.419 0-.668.306-.668.591 0 .622.945.765 1.043 2.515v3.797c0 .832-.151.985-.486.985-.892 0-3.057-3.211-4.34-6.886-.259-.713-.512-1.001-1.185-1.001h-2.625c-.749 0-.9.345-.9.731 0 .682.892 4.073 4.148 8.553 2.17 3.058 5.226 4.715 8.006 4.715 1.671 0 1.875-.368 1.875-1.001 0-2.922-.151-3.198.686-3.198.388 0 1.056.192 2.616 1.667 1.783 1.749 2.076 2.532 3.074 2.532h2.624c.748 0 1.127-.368.909-1.094-.499-1.527-3.871-4.668-4.023-4.878z"/></svg>
            </a>
            <a onclick="window.open('https://twitter.com/hemostas_rus', '_system'); return false;"
              href="#" class="tab-link tab-link-active">
              <svg fill="#273582" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" enable-background="new 0 0 512 512"><path d="M512 97.248c-19.04 8.352-39.328 13.888-60.48 16.576 21.76-12.992 38.368-33.408 46.176-58.016-20.288 12.096-42.688 20.64-66.56 25.408-19.264-20.512-46.72-33.216-76.672-33.216-58.112 0-104.896 47.168-104.896 104.992 0 8.32.704 16.32 2.432 23.936-87.264-4.256-164.48-46.08-216.352-109.792-9.056 15.712-14.368 33.696-14.368 53.056 0 36.352 18.72 68.576 46.624 87.232-16.864-.32-33.408-5.216-47.424-12.928v1.152c0 51.008 36.384 93.376 84.096 103.136-8.544 2.336-17.856 3.456-27.52 3.456-6.72 0-13.504-.384-19.872-1.792 13.6 41.568 52.192 72.128 98.08 73.12-35.712 27.936-81.056 44.768-130.144 44.768-8.608 0-16.864-.384-25.12-1.44 46.496 29.984 101.6 47.104 161.024 47.104 193.152 0 298.752-160 298.752-298.688 0-4.64-.16-9.12-.384-13.568 20.832-14.784 38.336-33.248 52.608-54.496z"/></svg>
            </a>
          </div>
        </div>
    </div>

      <!-- <div class="list links-list">
        <ul>
          <li>
            <a href="/dynamic-route/blog/45/post/125/?foo=bar#about">Dynamic (Component) Route</a>
          </li>
          <li>
            <a href="/load-something-that-doesnt-exist/">Default Route (404)</a>
          </li>
          <li>
            <a href="/request-and-load/user/123456/">Request Data & Load</a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</template>
<script>
import $$ from 'dom7';
export default {
  on: {
    pageInit: function (e, page) {
      const self = this;
      let notificationClickToClose = self.$app.notification.create({
        icon: '<i class="icon f7-icons">ant</i>',
        title: 'Приложение РФТГ',
        titleRightText: 'now',
        subtitle: 'Вы используете устаревшую версию приложения',
        text: 'Для доступа ко всем функциям приложения необходимо установить обновленную версию из магазина приложений.',
        closeOnClick: true,
      })
      const version = page.router.currentRoute.context.version;
      console.log("Minimal app version: " + version.toString());
      if (version == undefined) {
        console.error("Can't check version: undefined");
      }
      else if (version === 0) {
        console.error("Can't check version: " + version.toString());
      }
      else if (version < 103) {
        notificationClickToClose.open();
        console.error("Older app version, actual is: " + version.toString());
      }
      else {
        console.debug("Версия приложения актуальная: " + version.toString())
      }
      const uri = 'http://specialist.hemostas.ru/cordova-mailer.php';
      $$('form.form-ajax-submit').on('submit', function (e) {
        var formData = self.$app.form.convertToData('#my-form');
        self.$app.preloader.show();
        // alert(JSON.stringify(formData));
        self.$app.request.promise.get(uri, { Name: formData.name.toString(), Email: formData.email.toString(), key: 'rfth.app' })
        .then(function (res) {
          self.$app.preloader.hide();
          console.log('Load was performed ', res.data);
          self.$app.dialog.alert('Спасибо! <br>Вы успешно подписались на новости.');
        })
        .catch(function (err) {
          self.$app.preloader.hide();
          console.error(err);
          self.$app.dialog.alert('Ошибка!<br><small>Приносим извинения, но запрос не доставлен до сервера. Проверьте, что вы подключены к интернету, или повторите позже</small>');
        });
      });
    }
  }
};
</script>
