<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Назад</span>
          </a>
        </div>
        <div class="title">{{page[0].reserved}}</div>
        <div class="subnavbar">
          <form data-search-container=".virtual-list" data-search-item="li" data-search-in=".item-title" class="searchbar searchbar-init">
            <div class="searchbar-inner">
              <div class="searchbar-input-wrap">
                <input type="search" placeholder="Search"/>
                <i class="searchbar-icon"></i>
                <span class="input-clear-button"></span>
              </div>
              <span class="searchbar-disable-button if-not-aurora">Отмена</span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="searchbar-backdrop"></div>
    <div class="page-content">
      <div class="card">
        <div class="card-content">
          <div class="list media-list searchbar-not-found">
            <ul>
              <li>Не найдено</li>
            </ul>
          </div>
          <div class="list virtual-list media-list searchbar-found card-content"></div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import $$ from 'dom7';
  export default {
    on: {
      pageInit: function(e, page) {
      const self = this;
      const context = page.router.currentRoute.context;
      // Dummy items array
      var items = [];
      context.page.forEach((item, i) => {
        items.push({
          title: item.title,
          subtitle: item.content,
          id: item.id,
        });
      });
      function byId(id) {
        let result;
        items.forEach((item, i) => {
          if (item.id == id) {
            result = item;
          }
        });
        return result;
      }

      var virtualList = self.$app.virtualList.create({
        // List Element
        el: page.$el.find('.virtual-list'),
        // Pass array with items
        items: items,
        // Custom search function for searchbar
        searchAll: function (query, items) {
          var found = [];
          for (var i = 0; i < items.length; i++) {
            if (items[i].title.toLowerCase().indexOf(query.toLowerCase()) >= 0 || query.trim() === '') found.push(i);
          }
          return found; //return array with mathced indexes
        },
        // List item Template7 template
        itemTemplate:
          '<li class="item-content dynamic-popup" data-id="{{id}}">' +
            '<div class="item-media">'+
            '<i class="icon material-icons f7-icon-14">turned_in_not</i>'+
            '</div>'+
            '<div class="item-inner">'+
              '<div class="item-title-row">'+
                '<div class="item-title">{{title}}</div>'+
              '</div>'+
              '{{#js_if "this.subtitle"}}'+
              '<div class="item-subtitle">'+
                '{{subtitle}}'+
              '</div>'+
              '{{/js_if}}'+
            '</div>'+
          '</li>',
        // Item height
        height: self.$app.theme === 'ios' ? 63 : (self.$app.theme === 'md' ? 73 : 46),
      });
      let content;
      var dynamicPopup = self.$app.popup.create({
        content: '<div class="popup">'+
                    '<div class="block">'+
                      '<p><a href="#" class="link popup-close">Закрыть</a></p>'+
                      '<h4 class="popup-title"></h4>'+
                      '<p class="popup-subtitle"></p>'+
                    '</div>'+
                  '</div>',
      });
      $$('.dynamic-popup').on('click', function () {
        dynamicPopup.open();
        content = byId($$(this).data("id"));
        $$('.popup .popup-title').text(content.title);
        $$('.popup .popup-subtitle').text(content.subtitle);
      });
    }
  }
  }
</script>
