<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="back link">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Назад</span>
          </a>
        </div>
        <div class="title">{{page.title}}</div>
      </div>
    </div>
    <div class="page-content">
      {{page.content}}
      {{#js_if "this.page.after"}}
        <div class="block">
          <p>
            <img data-src="{{page.after}}"
              width="1500" height="1500"
              class="lazy lazy-fade-in demo-lazy"/>
          </p>
        </div>
      {{/js_if}}
    </div>
  </div>
</template>
<script>
  export default {}
</script>
