<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Назад</span>
          </a>
        </div>
        <div class="title">{{page.title}}</div>
      </div>
    </div>
    <div class="page-content">
      {{page.before}}
      <div class="block block-strong">
        {{page.content}}
      </div>
      {{page.after}}
    </div>
  </div>
</template>
<script>
  export default { }
</script>
