<template>
  <div class="page">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="back link">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Назад</span>
          </a>
        </div>
        <div class="title">{{user.name}}</div>
      </div>
    </div>
    <div class="page-content">
      <div class="card demo-card-header-pic">
        <div data-background="{{user.photo}}"
          class="lazy lazy-fade-in demo-lazy card-header card-profile align-items-flex-end">
          {{user.name}}
        </div>
        <div class="card-content card-content-padding">
          <p class="date">{{user.reserved}}</p>
          <p>{{user.position}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {}
</script>
