<template>
  <div class="page schedule" data-name="schedule">

    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner sliding">
        <div class="left">
          <a href="#" class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Назад</span>
          </a>
        </div>
        <div class="title">Программа</div>
        {{#js_if "this.saved"}}
        <div class="right">
          <a class=" icon-only" href="/myschedule/">
           <i class="icon f7-icons">star_fill<span class="badge color-red badge-saved-count">{{saved.data.length}}</span></i>
          </a>
        </div>
        {{/js_if}}
      </div>
    </div>

      <div class="toolbar tabbar toolbar-bottom" id="schedule">
        <div class="toolbar-inner">
        </div>
      </div>
      <div class="tabs-swipeable-wrap">
        <div class="tabs">
          <div id="tab-0" class="page-content tab tab-active">

          </div>
          <div id="tab-1" class="page-content tab">

          </div>
          <div id="tab-2" class="page-content tab">

          </div>
        </div>
      </div>
      <form id="schedule" class="store-data" style="display:none">
        <input type="text" name="data" value="" disabled>
      </form>
    </div>
</template>
<script>
  import $$ from 'dom7';
  // let dates = [];
  function russianDayOfWeekGet(int) {
    // день недели на русском
    let days = [
      'Воскресенье', 'Понедельник', 'Вторник',
      'Среда', 'Четверг', 'Пятница', 'Суббота'
    ];
    return days.length > int ? days[int] : null;
  }
  function dayGet(str) {
    // взять строку в формате MySQL timestamp и вернуть html для заголовка таба
    // (число месяца и день недели на русском)
    str = str.substring(0, str.indexOf(" "));
    const date = new Date(str);

    return '<span class="badge color-blue">'
        + date.getDate().toString()
        +'</span>'
        + russianDayOfWeekGet(date.getDay());
  }
  function dateGet(str) {
    str = str.substring(0, str.indexOf(" "));
    let month = [
      'января', 'февраля', 'марта', 'апреля', 'мая', 'июня',
      'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'];
    const date = new Date(str);
    return date.getDate().toString() + ' '
      + (month.length > date.getMonth() ? month[date.getMonth()] : " ")
      + ' ' + date.getFullYear().toString()
      + ' (' +  russianDayOfWeekGet(date.getDay()) + ')';
  }
  function timeGet(str) {
    const date = new Date(str.replace(' ', 'T'));
    if(isNaN(date.getTime())) return '';
    const min = (date.getMinutes()).toString();
    return (date.getHours() + date.getTimezoneOffset() / 60).toString() + ':' + (min.length == 1 ? ('0' + min) : min);
  }
  function showAllCards(node) {
    node.each((i, el)=>{
      if($$(el).hasClass('hide')){
        $$(el).removeClass('hide');
      }
    });
  }
  export default {
    on: {
      pageAfterIn: function (event, page) {
        console.log("Page AfterIn begined!");
        const self = this;
        let favorites = self.$app.form.getFormData("schedule");
        if (typeof favorites === 'undefined') {
          favorites = {data: []};
        }
        $$('.schedule .badge-saved-count').text(favorites.data.length);
      },
      pageInit: function(e, page) {
        const self = this;
        function store(data) {
          self.$app.form.storeFormData("schedule", data);
        }
        const items = page.router.currentRoute.context.items;
        const dates = page.router.currentRoute.context.dates;
        console.log(page.router.currentRoute.context);
        if (dates.length < 1) {
          self.$app.dialog.alert("Нет сохраненных элементов для отображения");
        }
        console.debug('Initial state: ', self.$app.form.getFormData("schedule"));
        let favorites = self.$app.form.getFormData("schedule");
        if (typeof favorites === 'undefined') {
          favorites = {data: []};
        }
        let i = 0;
        for(let date in dates)
        {
          timeGet(dates[date])
          let el = '<a class = "tab-link'
            + (i == 0 ? ' tab-active' : '')
            + '" href="#tab-' + i.toString() + '">'
            + dayGet(dates[date])
            +'</a>';
          $$('.schedule .toolbar-inner').append(el);
          let tabContent = '';
          if (items.hasOwnProperty(dates[date])) {
            const data = items[dates[date]];
            data.forEach((item, i) => {
              tabContent += '<div class="card event-card c-sortable"'
                +' data-place="' + item.place + '" '
                +' data-id="' + item.id + '"'
                +'>'
                +'<div class="card-header">'
                  +'<div class="event-card-time">'
                    + timeGet(item.startTime) + '<br>' + timeGet(item.finishTime)
                  +'</div>'
                  +'<div class="event-card-name">'
                    // +'<span class="event-card-beforetitle">'
                    //   +item.beforeTitle
                    // +'</span>'
                    + item.title
                  +'</div>'
                  +'<a href="#" class="f7-icons event-card-btn'
                  + (favorites.hasOwnProperty('data') && favorites.data.includes(item.id.toString())
                    ? ' color-green' : '')
                  +'">star</a>'
                +'</div>'
                +'<div class="card-content card-content-padding">'
                  + item.text
                  +'<div class="event-card-place">'
                    + '<small class="f7-icons f7-icon-14">map_pin_ellipse</small> '
                    + '<span class="c-sortable__text">' + item.place + '</span>'
                  +'</div>'
                +'</div>'

                +'</div>';
            });
            const places = (data.reduce(function (a, c) {
              if (!a.includes(c.place)) {
                a.push(c.place);
              }
              return a;
            }, []));
            let filtresHtml = '<div class="chip color-blue">'
                +'<div class="chip-label">Все залы</div>'
              +'</div>';
            places.forEach((item, i) => {
              filtresHtml += '<div class="chip">'
                  +'<div class="chip-label">'
                    + item
                  +'</div>'
                +'</div>';
            })
            $$('.schedule #tab-' + i.toString()).append(
            '<div class="block blick-inset">'
              + filtresHtml
              +'</div>'
              );
          }
          let tab = '<div class="block block-strong">'
            +'<h4>' + dateGet(dates[date]) + '</h4>'
            + tabContent
            +'</div>';
          $$('.schedule #tab-' + i.toString()).append(tab);

          i++;
        }
        $$('.schedule .chip').on('click', function () {
          console.debug("[View] Clip click event");
          const chips = $$(this).parents('.tab').find('.chip');
          const filterStr = this.innerText.trim();
          for (var i = 0; i < chips.length; i++) {
            if ($$(chips[i]).hasClass('color-blue')){
              $$(chips[i]).removeClass('color-blue');
            }
            if ($$(chips[i]).text().trim() === filterStr){
              $$(chips[i]).addClass('color-blue');
            }
          }

          const node = $$(this).parents('.tab').find('.c-sortable');
          showAllCards(node);
          // console.log($$(this).parents('.tab').find('.c-sortable'));
          if (this.innerText.trim() !== 'Все залы') {
            node.each((i, el)=>{
              if($$(el).data('place') !== filterStr){
                $$(el).addClass('hide');
              }
            });
          }
        });
        $$('.schedule .event-card-btn').on('click', function () {
          console.debug("[View] Button (favorites) click event");
          const card = $$(this).parents('.event-card');
          console.debug('State before: ', favorites);
          if (favorites.hasOwnProperty('data')) {
            if (favorites.data.includes(card.data('id'))) {
              favorites.data.splice(favorites.data.indexOf(card.data('id')), 1);
              store(favorites);
              $$(this).removeClass('color-green');
            }
            else {
              favorites.data.push(card.data('id'));
              store(favorites);
              $$(this).addClass('color-green');
            }
            console.debug('State after: ', favorites);
            $$('.badge-saved-count').html(favorites.data.length.toString());
          }
          else {
            console.warn('Store was empty');
          }
        })
      }
    }
  }
</script>
