<template>
<div class="page" data-name="topics">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Назад</span>
        </a>
      </div>
      <div class="title">Ключевые тематики</div>
    </div>
  </div>
  <div class="page-content">
    {{#each items}}
      <div class="card card-outline">
        <div class="card-header">{{this.name}}</div>
        {{#js_if "this.desc"}}
        <div class="card-content card-content-padding">
          {{this.desc}}
        </div>
        {{/js_if}}
        {{#js_if "this.reserved"}}
          <div class="card-footer">{{this.reserved}}</div>
        {{/js_if}}
      </div>
    {{/each}}
  </div>
</div>
</template>
<script>
export default {
  data: function () {
    // Must return an object
    return {
      items: [
        {
          name: "Фундаментальные исследования патогенеза тромботических и геморрагических заболеваний и состояний",
          desc: "",
          reserved: "Подача завершена",
        },
        {
          name: "Свертывание крови и естественные антикоагулянты",
          desc: "факторы свертывания и ингибиторы\; FVIII/IX и органная дисфункция\; микрочастицы; Протеины C, S, Z\; тканевой фактор",
          reserved: "",
        },
      ]
    }
  },
};
</script>
