<template>
<div class="page" data-name="venue">
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Назад</span>
        </a>
      </div>
      <div class="title">Место проведения</div>
    </div>
  </div>
  <div class="page-content">
    <div class="card demo-card-header-pic">
      <div style="background-image:url(https://static.tildacdn.com/tild3131-3534-4033-b665-383935663034/photo.jpg)"
        class="card-header align-items-flex-end">
        Президент-Отель
      </div>
      <div class="card-content card-content-padding">
        <p class="date">119134, Россия г. Москва, ул. Б. Якиманка, 24</p>
        <p>&laquo;Президент-Отель&raquo; традиционно является местом проведения встреч глав государств и&nbsp;правительств, международных форумов, конгрессов, конференций, мероприятий представителей политических организаций, бизнеса, культуры, искусства и&nbsp;спорта. Одновременно в&nbsp;гостинице можно разместить около 2000 участников мероприятий. </p>
        <p>&laquo;Президент-Отель&raquo; выгодно отличается от&nbsp;многих других гостиниц города удобным расположением на&nbsp;живописном берегу Москва-реки, в&nbsp;административном, деловом и&nbsp;торговом центре Москвы. С&nbsp;верхних этажей гостиницы &laquo;Президент-Отель&raquo; открывается прекрасный панорамный вид на&nbsp;центральную часть города, набережную Москва&nbsp;&mdash; реки, памятник Петру I, Храм Христа Спасителя и&nbsp;ведущую прямо к&nbsp;Кремлю улицу Большая Якиманка.</p>
      </div>
      <div class="card-footer">
        <a href="#" onclick="window.open('https://rfth2020.ru/venue', '_system'); return false;"><i class="f7-icons f7-icon-14">insert_link</i> Схема проезда</a>
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {};
</script>
