/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
.demo-facebook-card .card-header {
  display: block;
  padding: 10px;
}
.demo-facebook-card .demo-facebook-avatar {
  float: left;
}
.demo-facebook-card .demo-facebook-name {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
}
.demo-facebook-card .demo-facebook-date {
  margin-left: 44px;
  font-size: 13px;
  color: #8e8e93;
}
.demo-facebook-card .card-footer {
  background: #fafafa;
}
.demo-facebook-card .card-footer a {
  color: #81848b;
  font-weight: 500;
}
.demo-facebook-card .card-content img {
  display: block;
}
.demo-facebook-card .card-content-padding {
  padding: 15px 10px;
}
.demo-facebook-card .card-content-padding .likes {
  color: #8e8e93;
}
.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-header.card-profile {
  height: 80vw;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}
img.demo-lazy {
  width: 100%;
  height: auto;
  display: block;
}
div.demo-lazy {
  background: #aaa;
  background-size: cover;
  height: 60vw;
}
.event-card{}
.event-card .card-header{
  justify-content: flex-start;
}
.event-card .event-card-time{
  color: var(--f7-color-gray-shade);
  font-size: 15px;
  text-align: right;
  margin-left: 3vw;
}
.event-card .event-card-name{
  margin-left: 3vw;
}
.event-card .event-card-place{
  color: var(--f7-color-gray-shade);
  padding: 3vw 0 0 3vw;
}
.event-card-btn{
  margin-left: auto;
  font-size: 20px;
}
.tabbar.tabbar-social .tab-link-highlight {
  visibility: hidden;
}
.block.block-tapbar-container{
  padding-top: calc(var(--f7-navbar-height) + var(--f7-safe-area-top));
}
.c-sortable.hide {
  display: none;
}
