
<template>
  <div id="app">

    <!-- Left panel with cover effect-->
    <div class="panel panel-left panel-cover theme-dark panel-init">
      <div class="view">
        <div class="page">
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
              <div class="title">Меню</div>
            </div>
          </div>
          <div class="page-content">
            <div class="list links-list">
              <ul>
                <li><a href="/page/1/" class="panel-close">О форуме</a></li>
                <li><a href="/committee/" class="panel-close">Орг. коммитет</a></li>
                <li><a href="/schedule/" class="panel-close">Программа</a></li>
                <li><a href="/accordion/2/" class="panel-close">Участникам</a></li>
                <li><a href="/page/4/" class="panel-close">Спонсоры и выставка</a></li>
                <li><a href="/category/3/" class="panel-close">Новости</a></li>
                <li><a href="/category/4/" class="panel-close">Информационные партнеры</a></li>
                <li><a href="/page/5/" class="panel-close">Еще</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main view-init safe-areas" data-url="/"></div>


    <!-- Popup -->
    <div class="popup" id="my-popup">
      <div class="view">
        <div class="page">
          <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
              <div class="title">Popup</div>
              <div class="right">
                <a href="#" class="link popup-close">Close</a>
              </div>
            </div>
          </div>
          <div class="page-content">
            <div class="block">
              <p>Popup content goes here.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Login Screen -->
    <div class="login-screen" id="my-login-screen">
      <div class="view">
        <div class="page">
          <div class="page-content login-screen-content">
            <div class="login-screen-title">Login</div>
            <div class="list">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Username</div>
                    <div class="item-input-wrap">
                      <input type="text" name="username" placeholder="Your username" value="{{username}}" @input="updateUsername">

                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Password</div>
                    <div class="item-input-wrap">
                      <input type="password" name="password" placeholder="Your password" value="{{password}}" @input="updatePassword">

                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="list">
              <ul>
                <li>
                  <a href="#" class="item-link list-button login-button" @click="alertLoginData">Sign In</a>

                </li>
              </ul>
              <div class="block-footer">Some text about login information.<br>Click "Sign In" to close Login Screen</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
  export default {
    data() {
      return {
        user: {
          firstName: 'John',
          lastName: 'Doe',
        },
        // Login screen demo data
        username: '',
        password: '',

      };
    },
    methods: {
      helloWorld() {
        this.$f7.dialog.alert('Hello World!', () => {
          this.$f7.loginScreen.close()
        });
      },
      updateUsername(e) {
        this.username = e.target.value;
        this.$update();
      },
      updatePassword(e) {
        this.password = e.target.value;
        this.$update();
      },
      alertLoginData() {
        this.$f7.dialog.alert('Username: ' + this.username + '<br>Password: ' + this.password);
      }
    },
  }
</script>
